.App {
  background-color: white;
  text-align: center;
  color: black;
  height: 100vh;
}

.square-container {
  overflow: hidden;
  margin: 20px auto;
  padding: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

button {
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  color: white;
  background-color: black;
}

/* spinning animation */
h1 {
  animation: spin 2s alternate infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
