/* Add a font import for "Art Dystopia" */
@import url('https://fonts.googleapis.com/css2?family=Art+Dystopia&display=swap');

/* Rest of your existing styles */
.App {
  background-color: white;
  text-align: center;
  color: black;
  height: 100vh;
}

/* Add styling for the title with "Art Dystopia" font */
h2 {
  font-family: 'Art Dystopia';
  font-size: 2rem; /* Adjust the font size as needed */
  margin-top: 40px;
  margin-bottom: 40px; /* Add some spacing between title and input */
}

.square-container {
  overflow: hidden;
  margin: 20px auto;
  padding: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

button {
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  color: white;
  background-color: black;
}

/* Add spinning animation for the header */
h1 {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
