.App {
  background-color: white;
  text-align: center;
  color: black;
  height: 100vh;
}

.App-title {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.square-container {
  /* overflow: hidden; */
  margin: 20px auto;
  padding: 0px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.background-text {
  /* font-family: 'OptiSpire'; */
  font-size: 60px;
  font-weight: 300;
  white-space: pre;
  color: black;
  /* text-align: center; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -54%) scaleY(2.5) scaleX(0.825);
  margin: 0 0px;
  z-index: 0;
}

.main-text {
  font-family: 'Swiss 911 Compressed Bold';
  font-size: 60px;
  font-weight: 300;
  white-space: pre;
  transform: translate(0px, +4px) scaleY(0.9) scaleX(1.1);
  margin: 0px 10px;
  z-index: 1;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-weight: 600;
  font-size: small;
  margin-top: 40px;
  padding: 10px;
  cursor: pointer;
  color: white;
  background-color:black;
}

/* spinning animation */
.spinning_dot {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'OptiSpire';
  src: url('./fonts/OPTISpire.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Swiss 911 Compressed Bold';
  src: url('./fonts/Swiss 911 Compressed Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
}
