.App {
  background-color: white;
  text-align: center;
  color: black;
  height: 100vh;
}

.bottom-text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: small;
}

.App-title {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.square-container {
  /* overflow: hidden; */
  margin: 20px auto;
  padding: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.background-text {
  /* font-family: 'OptiSpire'; */
  font-size: 60px;
  font-weight: 300;
  white-space: pre;
  color: black;
  /* text-align: center; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -54%) scaleY(2.5) scaleX(0.74);
  margin: 0 0px;
  z-index: 0;
}

.main-text {
  font-family: 'Swiss 911 Compressed Bold';
  font-size: 60px;
  font-weight: 100;
  white-space: pre;
  transform: translate(0px, +4px) scaleY(0.9) scaleX(2);
  margin: 0px 10px;
  /* z-index: 1; */
}

.text-input {
  padding: 8px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #1d1d1d;
  border-radius: 2px;
  background-color: #ffffff;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
  width: 300px;
}

.text-input:focus {
  border-color: #48525c;
  box-shadow: 0 0 5px rgba(82, 98, 116, 0.5);
  outline: none;
}

/* spinning animation */
.spinning_dot {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'OptiSpire';
  src: url('./fonts/OPTISpire.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Swiss 911 Compressed Bold';
  src: url('./fonts/Swiss 911 Compressed Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
}
